:root, [data-bs-theme="light"] {
    --bs-link-color-rgb: #337ab7;
    --bs-link-hover-color-rgb: #23527c;
    --bslib-sidebar-bg: #f0f8ff;
}
:root {
    --bs-lib-mb-spacer: 0;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
      --bs-gutter-x: 0;
}
.bslib-gap-spacing { gap: 0;}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
a { color: var(--bs-link-color-rgb); text-decoration: none;}
a:hover { color: var(--bs-link-hover-color-rgb); }
h1,
h2 {
  font-weight: 200;
  color: #034170;
}
.col-sm-10 .offset-sm-1 + h1,h2 { margin-top: 40px;}

h5,
h6 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.navbar {
  background-color: #003363;
  --bs-navbar-active-color: #fff;
  --bs-navbar-padding-y: 0px;
}

.navbar .nav>li>a {
  color: #ddd;
  line-height: auto;
  padding: 10px 8px;
}

.navbar {
  min-height: 40px;
  margin-bottom: 10px;
}
.sidebar {
  margin-top: -10px;
}

.navbar .navbar-brand {
  color: #fff;
  font-weight: 200;
  font-size: 24px;
  height: auto;
  padding: 10px 8px;
}

.sidebar { width: 33%; }

label[disabled] {
  color: #999;
}

.shiny-input-container .checkbox {
  min-width: 125px;
  display: inline-block;
}

.table td {
  font-family: monospace;
  white-space: pre;
}

.btn a:hover,
.btn a:focus {
  text-decoration: none;
}

.table tbody>tr:nth-child(even)>td,
.table tbody>tr:nth-child(even)>th {
  background-color: #f9f9f9;
}

.table-bordered {
  border: none;
}

.table-bordered th,
.table-bordered td {
  border-left: none;
}

.table tr:first-child>th {
  background-color: #666;
  color: #fff;
}

.table-condensed th {
  padding: 4px 10px;
}

.well {
  padding: 10px;
}

.well-light {
  background-color: #fafafa;
}

.form-group {
  margin-bottom: 5px;
}

.radio,
.checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
}

.shiny-output-error {
  margin: 30px;
  color: #3a87ad;
  padding: 12px 24px;
  font-size: 150%;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

.footer {
  padding: 10px;
  background-color: #f0f0f0;
  font-size: small;
  color: #b0b0b0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 30px;
}

.footer a {
  color: #909090;
}

.video {
  width: 280px;
  margin-left: 30px;
  float: left;
  min-height: 300px;
}

@media (min-width: 980px) and (max-width: 1199px) {
  #videocollection {
    margin-left: -60px;
    margin-right: -100px;
  }
}

.alert blockquote {
  font-size: 14px;
  border: none;
  margin: 0;
}

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom)+div>.tab-content>.tab-pane {
 --bslib-navbar-margin: 0px;
margin-top: var(--bslib-navbar-margin);
}